<h2>Hey showProductsView</h2>

{{#each products}}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{this.id}}</h5>
        <p class="card-text">{{this.title}}</p>
    </div>
</div>
{{/each}}